---
---

@import "{{ site.theme }}";

.FlexContainerCol{
  position:relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
    	
.FlexContainer{
  position:relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
    	
.FlexContainer > div{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  margin: 5px;
}
    		
.FlexContainer > div > div{
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  display:flex;
  flex-direction: row;
}
    			
.FlexContainer .Overlay {
  position: absolute;
  top: 0px;
  left: 80%;
  margin: 0px;
  border: 0px;
  width: 20%;
  height: 100%;
}

video {
  width: 100%;
  height: auto;
}


.flex-grid .col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.flex-grid { 
  margin: 0 0 40px 0;
}

.col {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col:not(:last-child) {
  padding-right: 60px;
}
