---
---

@import "{{ site.theme }}";

.main-content {

  @include large {
    max-width: 64rem;
  }
}

.FlexContainerCol{
  position:relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.FlexContainerCol:not(:last-child) {
  padding-right: 6rem;
}
    	
.FlexContainer{
  position:relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.main-content > .FlexContainer {
  padding-bottom: 4rem;
  padding-left: -4rem;
  padding-right: -4rem;
}
    	
.FlexContainer > div{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}
    		
.FlexContainer > div > div{
  flex-grow: 1;
  flex-basis: 0;
  display:flex;
  flex-direction: row;
}
    			
.FlexContainer .Overlay {
  position: absolute;
  top: 10%;
  left: 90%;
  margin: 0px;
  border: 0px;
  width: 10%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .FlexContainer,
  .FlexContainerCol,
  .FlexContainer > div,
  .FlexContainer > div > div{
    display: block;
    width: 100%;
  }
  .FlexContainerCol:not(:last-child) {
    padding-right: 0px;
  }
}
