---
---

@import "{{ site.theme }}";

// Breakpoints
$large-breakpoint: 24em !default;
$medium-breakpoint: 18em !default;

.FlexContainerCol{
  position:relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.FlexContainerCol:not(:last-child) {
  padding-right: 60px;
}
    	
.FlexContainer{
  position:relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
    	
.FlexContainer > div{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  margin: 5px;
}
    		
.FlexContainer > div > div{
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  display:flex;
  flex-direction: row;
}
    			
.FlexContainer .Overlay {
  position: absolute;
  top: 10%;
  left: 90%;
  margin: 0px;
  border: 0px;
  width: 10%;
  height: 10%;
}

video {
  width: 100%;
  height: auto;
}


.flex-grid .col {
  flex: 1;
}

@media (max-width: 800px) {
  .FlexContainer,
  .FlexContainerCol,
  .FlexContainer > div,
  .FlexContainer > div > div{
    display: block;
    width: 100%;
  }
  .FlexContainerCol:not(:last-child) {
    padding-right: 0px;
  }
}



.flex-grid { 
  margin: 0 0 40px 0;
}

.col {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col:not(:last-child) {
  padding-right: 60px;
}
